/* Add here all your css styles (customizations) */


/* Added in for redesign. */

a {
  color: rgb(var(--v-theme-secondary));

  &:hover,
  &:focus {
    color: rgb(var(--v-theme-secondary-lighten-1));
  }
}

/* Vuetify Styling */

.v-btn:focus,
.v-btn:active {
  outline: none;
}

/* End of new redesign css. */

/* Acsent bar custom*/

.bar-up {
  margin-top: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
}

/*benefits fa position*/

#benefits-fas {
  font-size: 47px;
  margin-top: -12px;
  margin-right: 38px;
}

.center-font {
  font-size: 30px;
}

.red-icon {
  color: Red;
  font-size: 18px;
}

/*Awards img*/

.rounded img {
  height: inherit;
  width: inherit;
  border-radius: 500px;
  max-width: 100%;
}

.award-container {
  position: relative;
  height: auto;
}

.award-overlapped-1,
.award-overlapped-4 {
  position: absolute;
  left: -10%;
}

.award-overlapped-2,
.award-overlapped-5 {
  position: relative;
  left: 20%;
}

.award-overlapped-3,
.award-overlapped-6 {
  position: absolute;
  left: 50%;
}

/* .award-overlapped-4 {
  position: relative;
  left: 4.5%;
} */

/* .award-overlapped-5 {
  position: relative;
  left: -6%;
} */

.award-shadow {
  box-shadow: 0px 4px 20px 3px darkslategrey;
}

.test-par {
  font-size: 16px;
}

.test-row {
  margin-top: 75px;
}

/*master background color*/

.g-theme-bg-color-1 {
  background: linear-gradient(rgba(32, 40, 43, 0.75), rgba(136, 140, 141, 1));
}

/*changes arrow color on about section*/

.arrow-section-block {
  position: relative;
  padding: 95px 50px 65px;
  overflow: visible;
}

.arrow-section-block:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -17px;
  border-width: 17px;
  border-style: solid;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  z-index: 2;
  border-color: #656b6b;
}

.g-theme-bg-color-1 .arrow-section-block:after {
  border-color: #656b6b;
}

.arrow-section-block.arrow-top:after {
  bottom: 100%;
  border-top-color: transparent;
}

.arrow-section-block.arrow-bottom:after {
  top: 100%;
  border-bottom-color: transparent;
}

.arrow-section-block p {
  font-size: 16px;
  line-height: 26px;
}

#accordian.panel-group {
  background-color: transparent;
  color: #eee;
}

#benefits-description {
  margin-bottom: 15px;
}

.panel.panel-default {
  background-color: transparent;
  border-color: transparent;
}

.panel-default > .panel-heading {
  background-color: transparent;
}

.panel-default > .panel-heading {
  background-color: transparent;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
  height: 25em;
  overflow-y: scroll;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading:hover:after {
  width: 100%;
  background: #e74c3c;
}

.benefits-bullets {
  margin-bottom: 15px;
}

.benefits-container {
  vertical-align: top;
}

/*changes header color - master*/

.lawyer-style h1,
.lawyer-style h2,
.lawyer-style h3,
.lawyer-style h4,
.lawyer-style h5,
.lawyer-style h6 {
  color: #656b6b;
}

.g-theme-bg-color-transparent-1 {
  background: linear-gradient(rgba(32, 40, 43, 0.75), rgba(136, 140, 141, 1));
}

/*About section*/

#work-that-matters {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85)), url('../img/6.png');
  color: white;
}

#work-that-matters > h3 {
  color: white;
}

#leaders-that-captivate {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85)), url('../img/seigaiha.png');
  color: white;
}

#leaders-that-captivate > h3 {
  color: white;
}

/*charts*/

.pie-container {
  width: 60%;
  margin: 15px auto;
  color: black;
}

.bar-container {
  width: 90%;
  margin: 15px auto;
  color: black;
}

#chart {
  color: black;
}

/*events gallery*/

#events {
  padding-bottom: 100px;
}

.card-title {
  text-decoration: underline;
}

#events .card-deck .card-offset {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.5rem;
}

.card {
  max-width: 300px;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #e64433;
}

/*Career nav-tabs*/

.nav-tabs > li {
  float: none;
  display: inline-block;
  zoom: 1;
}

.nav-tabs {
  text-align: center;
}

.tab-pane h3 {
  margin-bottom: 25px;
  margin-top: 25px;
}

.nav-tabs > li.active > a {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > li.active > a:hover {
  color: #e74c3c;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > li > a {
  color: #ddd;
}

.nav-tabs > li > a:hover {
  color: #e74c3c;
  background-color: #fff;
  border-bottom-color: transparent;
}

/*Event styles*/

.event-images {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

h5 strong a {
  color: white;
}

h5 strong a:hover {
  color: #e74c3c;
}

.valign__middle {
  padding-top: 0;
}

.text-area-background {
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.p-scroll {
  overflow: scroll;
}

.button-newPage {
  background-color: red;
  height: 50px;
  width: 130px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 65px;
  outline: none;
}

[aria-expanded='false'] > .expanded,
[aria-expanded='true'] > .collapsed {
  display: none;
}

.collapsed {
  color: red;
}

.expanded {
  color: red;
}

.collapseButton {
  background-color: transparent;
  user-select: none;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  border-color: transparent;
}

.collapseButton:focus {
  background-color: transparent;
  user-select: none;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

.collapseButton:hover {
  background-color: transparent;
  user-select: none;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

/*List Styling*/

.list_elem {
  margin-left: 1rem;
}

.bullet_top {
  position: absolute !important;
  top: 13px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
}

.nav-pad {
  padding-left: 30px;
  height: 60px;
}

#map {
  width: 100%;
  min-height: 650px;
  height: 100%;
}

.award {
  max-width: 500px;
}

.award-row {
  margin-left: 40px;
  max-width: 90%;
  position: relative;
}

.bptw {
  right: 20px;
  position: relative;
}

.testimonial {
  background: white;
  /* background: #0f0c29; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* parallax css*/

.parallax {
  /* The image used */
  background-image: url('../img/online/opening_image.jpg');
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  visibility: inherit;
  transition: none;
  line-height: 50px;
  border-width: 0px;
  margin: 0px;
  padding: 8px 0px;
  letter-spacing: 0px;
  font-weight: 800;
  font-size: 47px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
}
.logos {
  max-width: 300px;
  max-height: 80px;
}

@media only screen and (max-width: 720px) {
  .logos-moible {
    width: 100%;
    max-height: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
    display: block !important;
  }
}

.potrait {
  height: 115px;
  width: 115px;
}

.intern-background {
  /* The image used */
  background-image: url('../img/office/kitchen_edit.jpg');
  /* Set a specific height */
  padding-bottom: 200px;
  height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button_clear {
  border-style: double;
  border-width: 2px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 30px;
  border-radius: 0px;
  box-shadow: 1px 1px 20px 3px #313c3c;
}

.foreground {
  position: absolute;
  /* Overlap the previous div */
  top: inherit;
  left: inherit;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* transparent background */
}

/* Apply Form  */
.applyForm {
  border: 2px solid #b8b8b8;
  padding: 40px;
  background-color: #f5f5f5;
}

.submitPage {
  background-color: white;
  padding: 30px;
  border: 1px solid #ebe7e7;
}

/* for ipads and ipad pros -awards section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .award-overlapped-1 {
    position: absolute;
    left: 5%;
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .award-overlapped-2 {
    position: relative;
    left: 35%;
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .award-overlapped-3 {
    position: absolute;
    left: 65%;
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .award-overlapped-4 {
    position: absolute;
    left: 5%;
    margin-top: 0%;
    margin-bottom: 10%;
  }

  .award-overlapped-5 {
    position: relative;
    left: 35%;
    margin-top: 0%;
    margin-bottom: 10%;
  }

  .award-overlapped-6 {
    position: absolute;
    left: 65%;
    margin-top: 0%;
    margin-bottom: 10%;
  }

  .award-row {
    max-width: 80%;
    margin-left: 6%;
    position: relative;
  }

  .award-row + .award-row {
    padding-bottom: 30px;
  }

  .intern-background {
    /* The image used */
    background-image: url('../img/office/kitchen_edit.jpg');
    /* Set a specific height */
    padding-bottom: 200px;
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  /* Internship page formatted for iphone (show button) */
  .intern-background {
    /* The image used */
    background-image: url('../img/office/kitchen_edit.jpg');

    /* Set a specific height */
    height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mobile-image {
    max-height: 125px;
  }

  .award-container {
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .award-row {
    margin-left: -10%;
    margin-right: -10%;
    max-width: inherit;
    position: relative;
    display: inline-block;
  }

  .award-row + .award-row { /* Second Award Row */
    margin-left: -3%;
    display: inline-block;
  }

  .award-overlapped-1 {
    position: relative;
    left: 0%;
    margin-bottom: 20px;
  }

  .award-overlapped-2 {
    position: relative;
    left: 0%;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .award-overlapped-3 {
    position: relative;
    left: 0%;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .award-overlapped-4 {
    position: relative;
    left: 0%;
    margin-bottom: 20px;
  }

  .award-overlapped-5 {
    position: relative;
    left: 0%;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .award-overlapped-6 {
    position: relative;
    left: 0%;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .test-par {
    font-size: 11px;
  }

  .test-row {
    margin-top: 25px;
  }

  .test-image {
    max-height: 100px;
    max-width: 100px;
  }
}
