
a {
  color: black;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
background-color: lightblue;
}

.navbar .site-name {
  color: black !important;
}

.links {
background-color: lightblue !important;
}

.search-box input{
    background-color: #edf0f5 !important;
}

.page {
  background-color: #edf0f5;
}

.nav-links {
  color: black;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
  color: black;
  border-bottom: 2px solid firebrick !important;
}

h2 {
border-bottom: none;
margin-block-start: 0.5em;
margin-block-end: 0;
}

.home {
  max-width: 435px !important;

}

.theme-default-content:not(.custom) a:hover {
    text-decoration: none;
}

.post {
  margin-top: 30px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  background-color: white;
}

.posts{

}

.posts :hover {
box-shadow: 0px 2px 5px gray;
}

.post :hover {
box-shadow: none;
}


.title {
  text-align: center;
  font-size: 30px;
}

.blogImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}

.description {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}

.meta {
font-size: 12px;
color: gray;
border-bottom: 1px solid #eaecef;
padding-bottom: 0.25rem;
}

.tagBar {
}

.tagsScroll {
  overflow: auto;
  white-space: nowrap;
}

.tagsScroll::-webkit-scrollbar {
  display: none;
}

.tagsScroll a {
  margin-right: 10px;
  color: #ccc;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.w3-display-container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
  width: 400px;
}

.w3-display-container:hover .w3-display-hover {
  display:block;
}

.w3-display-container:hover {
  display:inline-block;
}

.w3-display-hover {
  display:none;
}

.w3-display-topright {
  position:absolute;
  margin-right: 20px;
  margin-top: 6px;
  right:0;
  top:0;
}

.w3-display-topright p {
line-height: 0;
font-size: 13px;
color: gray;
}

.tagsHome {
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
}
