a {
  color: black;
  text-decoration: none;
}

.posts {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 435px;
}

.post {
  margin-top: 30px;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 3px #ccc;
}

.title {
  text-align: center;
  font-size: 32px;
}

.blogImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.description {
  text-align: justify;
}

/* Logo */

.one-page-header .navbar-brand {
  padding: 10px 15px;
  height: auto;
}

.navbar-brand>img {
  width: 110px;
}

@media (max-width: 768px) {
  .one-page-header .navbar-brand {
    padding-left: 0;
  }
}

/* Navigation */
.ml-auto {
  margin-left: auto!important;
}
