.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 435px !important;

}
.post {
  margin-top: 30px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  background-color: white;
}

.posts :hover {
box-shadow: 0px 2px 5px gray;
}

.post :hover {
box-shadow: none;
text-decoration: none;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: inherit;
  color: #333333;
}

.description {
  font-size: 14px;
  color: #333333;
  font-family: inherit;
  //text-align: justify;
}

.meta {
font-size: 12px;
color: #464646;
border-bottom: 1px solid #eaecef;
padding-bottom: 0.25rem;
}

.tagsScroll {
  overflow: auto;
  white-space: nowrap;
}

.tagsScroll::-webkit-scrollbar {
  display: none;
}

.tagsScroll a {
  margin-right: 10px;
  color: #ccc !important;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tagsScroll a:hover {
  color: gray !important;
}

.w3-display-container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
  width: 100%;
}

.w3-display-container:hover .w3-display-hover {
  display:block;
}

.w3-display-container:hover {
  display:inline-block;
}

.w3-display-hover {
  display:none;
}

.w3-display-topright {
  position:absolute;
  margin-right: 20px;
  margin-top: 6px;
  right:0;
  top:0;
}

.w3-display-topright p {
line-height: 0;
font-size: 13px;
color: gray;
}

.tagsHome {
padding-bottom: 20px;
}

.content p {
  //text-align: justify;
}

.content a {
color: blue;
}

.content {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 650px;
}
